@import url('https://fonts.googleapis.com/css2? family= Advertência & family= Inter & display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root{
    --cor--primaria:#FFA1F5;
    --cor--font:#BC7AF9;
    --cor--h1:#F8FF95;
    --cor--fundo-borda:#A6FF96;
    --cor--carta-font:#0802A3;
    --font-primaria:'Advertência',cursive;
}
body{
    
    box-sizing: border-box;
    background-color: var(--cor--primaria);
}

.cabecalho{
    padding: 1% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap:80px;
}

.cabecalho__link{
    text-decoration: none;
    font-family: var(--font-primaria);
    font-size: 26px;
    font-weight: 400px;
    color:var(--cor--font);
    

}
.cabecalho__link:hover{
  color: var(--cor--fundo-borda);

}
.apresentacao__cont__texto{
    text-decoration: none;
    font-size: 36px;
    font-weight: 100px;
    font-family: var(--font-primaria);
    color: var(--cor--h1);
    justify-content: center;
}
.apresentacao__cont__texto_carta{
    
    font-family: var(--font-primaria);
    color:var(--cor--carta-font);
    font-size: 24px;
    font-weight: 100px;
    justify-items: center;
    gap: 10px;

}

.apresentacao{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%; 
    justify-content: baseline;
    
}
.apresentacao__cont{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 5%;
}
.borda__cor{
    border: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 4px var(--cor--h1);
    background-color: var(--cor--fundo-borda);
}
.rodape{
    padding: 24px;
    color: var(--cor--font);
    text-align: center;
    font-family: var(--font-primaria);
    font-weight: 400px;
    background-color: var(--cor--fundo-borda) ;
}
